@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9842 0.0034 247.8575);
  --foreground: oklch(0.1363 0.0364 259.2010);
  --card: oklch(0.9842 0.0034 247.8575);
  --card-foreground: oklch(0.1363 0.0364 259.2010);
  --popover: oklch(0.9842 0.0034 247.8575);
  --popover-foreground: oklch(0.1363 0.0364 259.2010);
  --primary: oklch(0.5407 0.1047 227.3399);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.7169 0.1002 185.2096);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9683 0.0069 247.8956);
  --muted-foreground: oklch(0.5544 0.0407 257.4166);
  --accent: oklch(0.9576 0.0214 186.0219);
  --accent-foreground: oklch(0.4324 0.0786 219.7447);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9288 0.0126 255.5078);
  --input: oklch(0.9288 0.0126 255.5078);
  --ring: oklch(0.5407 0.1047 227.3399);
  --chart-1: oklch(0.5407 0.1047 227.3399);
  --chart-2: oklch(0.7169 0.1002 185.2096);
  --chart-3: oklch(0.8452 0.1207 71.9787);
  --chart-4: oklch(0.8519 0.1213 131.2682);
  --chart-5: oklch(0.8296 0.0516 231.0279);
  --sidebar: oklch(0.9842 0.0034 247.8575);
  --sidebar-foreground: oklch(0.1363 0.0364 259.2010);
  --sidebar-primary: oklch(0.5407 0.1047 227.3399);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9576 0.0214 186.0219);
  --sidebar-accent-foreground: oklch(0.4324 0.0786 219.7447);
  --sidebar-border: oklch(0.9288 0.0126 255.5078);
  --sidebar-ring: oklch(0.5407 0.1047 227.3399);
  --font-sans: Lato;
  --font-serif: Merriweather;
  --font-mono: Fira Code;
  --radius: 0.5rem;
  --shadow-2xs: 0px 0px 0px 0px hsl(0 0% 0% / 0.00);
  --shadow-xs: 0px 0px 0px 0px hsl(0 0% 0% / 0.00);
  --shadow-sm: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0px 0px 0px 0px hsl(0 0% 0% / 0.00);
  --tracking-normal: normal;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1723 0.0230 260.3856);
  --foreground: oklch(0.9842 0.0034 247.8575);
  --card: oklch(0.1723 0.0230 260.3856);
  --card-foreground: oklch(0.9842 0.0034 247.8575);
  --popover: oklch(0.1723 0.0230 260.3856);
  --popover-foreground: oklch(0.9842 0.0034 247.8575);
  --primary: oklch(0.7131 0.1245 222.1624);
  --primary-foreground: oklch(0.1723 0.0230 260.3856);
  --secondary: oklch(0.8407 0.1192 184.4140);
  --secondary-foreground: oklch(0.1723 0.0230 260.3856);
  --muted: oklch(0.2795 0.0368 260.0310);
  --muted-foreground: oklch(0.7107 0.0351 256.7878);
  --accent: oklch(0.2795 0.0368 260.0310);
  --accent-foreground: oklch(0.9842 0.0034 247.8575);
  --destructive: oklch(0.7106 0.1661 22.2162);
  --destructive-foreground: oklch(0.1723 0.0230 260.3856);
  --border: oklch(0.3717 0.0392 257.2870);
  --input: oklch(0.3717 0.0392 257.2870);
  --ring: oklch(0.7131 0.1245 222.1624);
  --chart-1: oklch(0.7131 0.1245 222.1624);
  --chart-2: oklch(0.8407 0.1192 184.4140);
  --chart-3: oklch(0.8452 0.1207 71.9787);
  --chart-4: oklch(0.8519 0.1213 131.2682);
  --chart-5: oklch(0.8296 0.0516 231.0279);
  --sidebar: oklch(0.1723 0.0230 260.3856);
  --sidebar-foreground: oklch(0.9842 0.0034 247.8575);
  --sidebar-primary: oklch(0.7131 0.1245 222.1624);
  --sidebar-primary-foreground: oklch(0.1723 0.0230 260.3856);
  --sidebar-accent: oklch(0.2795 0.0368 260.0310);
  --sidebar-accent-foreground: oklch(0.9842 0.0034 247.8575);
  --sidebar-border: oklch(0.3717 0.0392 257.2870);
  --sidebar-ring: oklch(0.7131 0.1245 222.1624);
  --font-sans: Lato;
  --font-serif: Merriweather;
  --font-mono: Fira Code;
  --radius: 0.5rem;
  --shadow-2xs: 0px 0px 0px 0px hsl(0 0% 0% / 0.00);
  --shadow-xs: 0px 0px 0px 0px hsl(0 0% 0% / 0.00);
  --shadow-sm: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
  --shadow-md: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 2px 4px -1px hsl(0 0% 0% / 0.00);
  --shadow-lg: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 4px 6px -1px hsl(0 0% 0% / 0.00);
  --shadow-xl: 0px 0px 0px 0px hsl(0 0% 0% / 0.00), 0px 8px 10px -1px hsl(0 0% 0% / 0.00);
  --shadow-2xl: 0px 0px 0px 0px hsl(0 0% 0% / 0.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}